﻿@model Domain.Price

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campaign.CampaignId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency.CurrencyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ticket.TicketId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PriceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
