﻿@model IEnumerable<Domain.Price>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PriceValue)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.CampaignId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PriceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PriceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
