﻿@model Domain.Discount

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Discount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisccountName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisccountName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campaign.CampaignName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountType.DiscountTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductGroup.ProductGroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ticket.TicketId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGroup.UserGroupName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiscountId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
