﻿@model Domain.ProductIn_OrderRowComponent

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductIn_OrderRowComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductInOrderRowComponent_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductInOrderRowComponent_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRowComponent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRowComponent.OrderRowComponentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductIn_OrderRowComponentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
