﻿@model Domain.ProductIn_OrderRowComponent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductIn_OrderRowComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductInOrderRowComponent_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductInOrderRowComponent_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRowComponent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRowComponent.OrderRowComponentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductIn_OrderRowComponentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
