﻿@model Domain.ProductIn_OrderRowComponent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProductIn_OrderRowComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductIn_OrderRowComponentId" />
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label"></label>
                <input asp-for="ProductQuantity" class="form-control" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInOrderRowComponent_Total" class="control-label"></label>
                <input asp-for="ProductInOrderRowComponent_Total" class="form-control" />
                <span asp-validation-for="ProductInOrderRowComponent_Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderRowComponentId" class="control-label"></label>
                <select asp-for="OrderRowComponentId" class="form-control" asp-items="ViewBag.OrderRowComponentId"></select>
                <span asp-validation-for="OrderRowComponentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
