﻿@model IEnumerable<Domain.ProductIn_OrderRowComponent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductInOrderRowComponent_Total)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderRowComponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInOrderRowComponent_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRowComponent.OrderRowComponentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductIn_OrderRowComponentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductIn_OrderRowComponentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductIn_OrderRowComponentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
