﻿@model Domain.CinemaHall

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CinemaHall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaHallName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaHallName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CinemaHallId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
