﻿@model IEnumerable<Domain.CinemaHall>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CinemaHallName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatCount)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinemaHallId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CinemaHallId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CinemaHallId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
