﻿@model IEnumerable<Domain.Cinema>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CinemaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinemaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CinemaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CinemaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
