﻿@model Domain.Row

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Row</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RowNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaHall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaHall.CinemaHallName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
