﻿@model Domain.Currency

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrencyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
