﻿@model Domain.Info

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campaign.CampaignName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cinema.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount.DisccountName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountType.DiscountTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoType.InfoTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGroup.UserGroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
