﻿@model IEnumerable<Domain.Info>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount.DisccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType.DiscountTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoType.InfoTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroup.UserGroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
