﻿@model Domain.Seat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Row.RowId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SeatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
