﻿@model Domain.OrderRowComponent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderRowComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description_OrderRowComponent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description_OrderRowComponent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRowComponentTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRowComponentTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRow.OrderRowId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderRowComponentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
