﻿@model IEnumerable<Domain.OrderRowComponent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description_OrderRowComponent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderRowComponentTotal)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderRow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description_OrderRowComponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRowComponentTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRow.OrderRowId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderRowComponentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderRowComponentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderRowComponentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
