﻿@model Domain.Ticket

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketCinemaName" class="control-label"></label>
                <input asp-for="TicketCinemaName" class="form-control" />
                <span asp-validation-for="TicketCinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketMovieName" class="control-label"></label>
                <input asp-for="TicketMovieName" class="form-control" />
                <span asp-validation-for="TicketMovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketMovieDate" class="control-label"></label>
                <input asp-for="TicketMovieDate" class="form-control" />
                <span asp-validation-for="TicketMovieDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketRow" class="control-label"></label>
                <input asp-for="TicketRow" class="form-control" />
                <span asp-validation-for="TicketRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketSeat" class="control-label"></label>
                <input asp-for="TicketSeat" class="form-control" />
                <span asp-validation-for="TicketSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketMovieAgeRestriction" class="control-label"></label>
                <input asp-for="TicketMovieAgeRestriction" class="form-control" />
                <span asp-validation-for="TicketMovieAgeRestriction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketHolder" class="control-label"></label>
                <select asp-for="TicketHolder" class="form-control"></select>
                <span asp-validation-for="TicketHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeatId" class="control-label"></label>
                <select asp-for="SeatId" class ="form-control" asp-items="ViewBag.SeatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderRowId" class="control-label"></label>
                <select asp-for="OrderRowId" class ="form-control" asp-items="ViewBag.OrderRowId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
