﻿@model Domain.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketCinemaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketCinemaName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketMovieName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketMovieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketMovieDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketMovieDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketRow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketRow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketSeat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketSeat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketMovieAgeRestriction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketMovieAgeRestriction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketHolder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketHolder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRow.OrderRowId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
