﻿@model IEnumerable<Domain.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TicketCinemaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketMovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketMovieDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketRow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketSeat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketMovieAgeRestriction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketHolder)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketMovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketMovieDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketRow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketMovieAgeRestriction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRow.OrderRowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.SessionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
