﻿@model IEnumerable<Domain.ProductGroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductGroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductGroupDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroupDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductGroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductGroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductGroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
