﻿@model Domain.MovieInCinema

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MovieInCinema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InCinemaFrom" class="control-label"></label>
                <input asp-for="InCinemaFrom" class="form-control" />
                <span asp-validation-for="InCinemaFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InCinemaUntil" class="control-label"></label>
                <input asp-for="InCinemaUntil" class="form-control" />
                <span asp-validation-for="InCinemaUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class ="form-control" asp-items="ViewBag.CinemaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
