﻿@model Domain.MovieInCinema

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieInCinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InCinemaFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InCinemaFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InCinemaUntil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InCinemaUntil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.MovieId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieInCinemaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
