﻿@model IEnumerable<Domain.MovieInCinema>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InCinemaFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InCinemaUntil)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InCinemaFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InCinemaUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieInCinemaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieInCinemaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieInCinemaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
