﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                    @*<li><a asp-area="" asp-controller="UserGroups" asp-action="Index">UserGroups</a></li>
                    <li><a asp-area="" asp-controller="payments" asp-action="index">payments</a></li>
                    <li><a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                    <li><a asp-area="" asp-controller="OrderRows" asp-action="Index">OrderRows</a></li>
                    <li><a asp-area="" asp-controller="OrderRowComponents" asp-action="Index">OrderRowComponents</a></li>
                    <li><a asp-area="" asp-controller="ProductIn_OrderRowComponent" asp-action="Index">ProductsIn_OrderRowComponents</a></li>*@
                    @*<li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                    <li><a asp-area="" asp-controller="ProductGroups" asp-action="Index">ProductGroups</a></li>
                    <li><a asp-area="" asp-controller="Prices" asp-action="Index">Prices</a></li>
                    <li><a asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a></li>
                    <li><a asp-area="" asp-controller="Campaigns" asp-action="Index">Campaigns</a></li>*@
                    @*<li><a asp-area="" asp-controller="Discounts" asp-action="Index">Discounts</a></li>
                    <li><a asp-area="" asp-controller="DiscountTypes" asp-action="Index">DiscountTypes</a></li>
                    <li><a asp-area="" asp-controller="Cinemas" asp-action="Index">Cinemas</a></li>
                    <li><a asp-area="" asp-controller="CinemaHalls" asp-action="Index">CinemaHalls</a></li>
                    <li><a asp-area="" asp-controller="Rows" asp-action="Index">Rows</a></li>
                    <li><a asp-area="" asp-controller="Seats" asp-action="Index">Seats</a></li>*@
                    <li><a asp-area="" asp-controller="Movies" asp-action="Index">Movies</a></li>
                    <li><a asp-area="" asp-controller="MovieInCinemas" asp-action="Index">MovieInCinema</a></li>
                    <li><a asp-area="" asp-controller="Sessions" asp-action="Index">Sessions</a></li>
                    <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                    <li><a asp-area="" asp-controller="Info" asp-action="Index">Info</a></li>
                    <li><a asp-area="" asp-controller="InfoTypes" asp-action="Index">InfoTypes</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
