﻿@model Domain.Session

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionBegins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionBegins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionEnds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionEnds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaHall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaHall.CinemaHallId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieInCinema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieInCinema.MovieInCinemaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SessionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
