﻿@model Domain.Session

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionBegins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionBegins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionEnds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionEnds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaHall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaHall.CinemaHallId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieInCinema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieInCinema.MovieInCinemaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
