﻿@model Domain.Session

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SessionId" />
            <div class="form-group">
                <label asp-for="SessionBegins" class="control-label"></label>
                <input asp-for="SessionBegins" class="form-control" />
                <span asp-validation-for="SessionBegins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionEnds" class="control-label"></label>
                <input asp-for="SessionEnds" class="form-control" />
                <span asp-validation-for="SessionEnds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieInCinemaId" class="control-label"></label>
                <select asp-for="MovieInCinemaId" class="form-control" asp-items="ViewBag.MovieInCinemaId"></select>
                <span asp-validation-for="MovieInCinemaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaHallId" class="control-label"></label>
                <select asp-for="CinemaHallId" class="form-control" asp-items="ViewBag.CinemaHallId"></select>
                <span asp-validation-for="CinemaHallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
