﻿@model IEnumerable<Domain.Session>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SessionBegins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SessionEnds)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CinemaHall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieInCinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionBegins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionEnds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHall.CinemaHallId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieInCinema.MovieInCinemaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
