﻿@model Domain.Campaign

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignBegins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignBegins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignEnds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignEnds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CampaignId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
