﻿@model Domain.Campaign

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CampaignId" />
            <div class="form-group">
                <label asp-for="CampaignName" class="control-label"></label>
                <input asp-for="CampaignName" class="form-control" />
                <span asp-validation-for="CampaignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampaignBegins" class="control-label"></label>
                <input asp-for="CampaignBegins" class="form-control" />
                <span asp-validation-for="CampaignBegins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampaignEnds" class="control-label"></label>
                <input asp-for="CampaignEnds" class="form-control" />
                <span asp-validation-for="CampaignEnds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
