﻿@model Domain.OrderRow

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderRow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRowTotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRowTotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderRowId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
