﻿@model Domain.OrderRow

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderRow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRowTotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRowTotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderRowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
