﻿@model IEnumerable<Domain.OrderRow>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherPriceTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriceTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderRowTotalPrice)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherPriceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRowTotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderRowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderRowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderRowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
